body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    color: #333;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; 
}

footer {
    background-color: #343a40;
    color: #ffffff; 
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

footer a {
    color: #ffffff; 
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline;
}

.footer-links a {
    color: #666;
    text-decoration: none;
    margin: 0 10px;
  }

img {
    width: 30%;
    margin-top: 0px;
}

h2 {
    color: #0056b3;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.btn-link {
    font-size: 1.25rem; 
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.btn-link:hover {
    color: #0056b3;
}

.card-header {
    background-color: #e9ecef;
    border-bottom: 2px solid #007bff;
}

.card-body {
    background-color: #fff; 
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 0.5rem;
}

.accordion .card:not(:last-child) {
    margin-bottom: 1rem;
}

.accordion .card {
    border: none;
}

iframe {
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* media query */
@media (max-width: 576px) {
    img {
        width: 20%; 
    }

    h2 {
        font-size: 1.5rem; 
    }

    .btn-link {
        font-size: 1rem;
    }
}
